@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  height: 90vh;
  margin: 0;
  /* overflow: hidden; */
}

h1,
h2,
h3 {
  text-align: center;
  padding-bottom: 10px;
}

p {
  margin: auto;
}
a:last-child {
  padding-bottom: 20px;
}

a:link,
a:visited h3 {
  color: white;
  padding: auto;
  text-align: center;
  text-decoration: none;
}
nav {
  height: 40px;
  background-color: rgb(70, 70, 70);
  margin-bottom: 20px;
}

nav a:link,
a:visited {
  color: white;
}

button {
  /* position: relative; */
  margin-bottom: 10px;
}

footer {
  height: 60px;
  background-color: rgb(61, 59, 59);
  /* padding-top: 1rem; */
  margin-top: -90%;
}

#wikiLink {
  color: blue;
}

.header {
  margin-top: 2rem;
}

.container {
  margin: 0;
  width: 100vw; /* wAdds space on the sides */
  /* padding-left:  */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container.panels {
  width: 80vw;
  /* height: 50vh; */
  padding-left: 20%;
  display: flex;
  margin-top: 1rem;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  border-radius: 60px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3 {
  font-size: 2rem;
  position: absolute;
  top: 25%;
  text-align: center;
  left: 30%;
  /* margin: 0; */
  opacity: 0;
}

.panel.active {
  flex: 3;
  background-blend-mode: multiply;
  background-color: #929292;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in.4s;
}

.display {
  margin-bottom: 20px;
}
